# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:fabian08@localhost:5432/mydb?schema=public"
JWT_SECRET=52710a9b2ef84399c33b4f38eb12b058faf98c6355ec76ac4e74538d2b05bf10
JWT_REFRESH_SECRET=cfdc0f1e5a9160238201c258039853200e9eb7dab5dc2bed608b8583c24ff5f8